[Unit]
Description=Rest API Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/xs739875/xs739875.xsrv.jp/public_html/API/Rest-API/start_app.py
WorkingDirectory=/home/xs739875/xs739875.xsrv.jp/public_html/API/Rest-API
Restart=always

[Install]
WantedBy=multi-user.target
